Django
pip-tools
drf-yasg
drf-yasg[validation]
djangorestframework
psycopg2-binary
sqlparse
psycopg2
markdown
django-filter
whitenoise
gunicorn
django-cors-headers
cryptography
django-import-export
sentry-sdk
healthy-django
django-environ
django-allow-cidr
django-ses
django-ses[events]
django[argon2]
djangorestframework-simplejwt
pygments
django-storages
boto3
django-dotenv